{{ if or (ne .ReturnTo "feed") (.Board.InReplyTo) }}
<li>[<a href="/{{ .Board.PrefName }}">Return</a>]</li>
{{ end }}
{{ if and (ne .ReturnTo "catalog") (ne .Board.BoardType "text") (ne .Board.BoardType "flash") }}
<li>[<a href="/{{ .Board.PrefName }}/catalog">Catalog</a>]</li>
{{ end }}
{{ if and (ne .ReturnTo "list") (ne .Board.BoardType "flash") }}
<li>[<a href="/{{ .Board.PrefName }}/list">List</a>]</li>
{{ end }}
{{ if and (ne .ReturnTo "archive") (ne .PostType "reply") (showArchive .Board.Actor) }}
<li>[<a href="/{{ .Board.PrefName }}/archive">Archive</a>]</li>
{{ end }}
<li>[<a href="">Refresh</a>]</li>
